body {
  text-align: center;
  background-color: #DDFFBB;
  font-family: 'Oxygen', sans-serif;
}

.addStudentButton, .updateStudentButton {
  background-color: #609966;
  font-size: 14px;
  color: white;
  border: none;
  padding: 5px;
  padding-right: 10px;
  padding-left: 10px;
  margin: 5px;
  border-radius: 5px;
  font-family: 'Oxygen', sans-serif;
}
.addStudentButton:hover, .updateStudentButton:hover {
  background-color: #9DC08B;
  cursor: pointer;
}

.submitButton {
  background-color: #40513B;
  color: white;
  border: none;
  padding: 5px;
  padding-right: 10px;
  padding-left: 10px;
  margin: 5px;
  border-radius: 5px;
  font-family: 'Oxygen', sans-serif;
}
.submitButton:hover {
  background-color: #607959;
}

.cancelButton {
  background-color: #859975;
  color: white;
  border: none;
  padding: 5px;
  padding-right: 10px;
  padding-left: 10px;
  margin: 5px;
  border-radius: 5px;
  font-family: 'Oxygen', sans-serif;
}
.cancelButton:hover {
  background-color: #66755a;
  cursor: pointer;
}

.loginButton {
  background-color: #40513B;
  font-size: 14px;
  color: white;
  border: none;
  padding: 5px;
  padding-right: 10px;
  padding-left: 10px;
  margin: 5px;
  border-radius: 5px;
  font-family: 'Oxygen', sans-serif;
}
.loginButton:hover {
  background-color: #5f7957;
  cursor: pointer;
}

.Table-div {
  padding-left: 300px;
  padding-right: 300px;
}

.ant-table table {
  font-family: 'Oxygen', sans-serif;
  color: #578a5c;
}

.ant-table thead {
  color: #578a5c;
}


